{% extends 'admin/_dashboard.html.twig' %}
{% block context %}
   <h1 class="f-upper fw fs-2">Ajouter un nouveau Vendeur</h1>
    {{ form_start(sellerForm, { 'attr' : {'class' : 'form-admin' }}) }}
        {{ form_widget(sellerForm.code, { 'attr' : {'class' : 'input', 'placeholder' : 'Code Mercadona' }}) }}
        {{ form_widget(sellerForm.email, { 'attr' : {'class' : 'input', 'placeholder' : 'Email Vendeur' }}) }}
        {{ form_widget(sellerForm.submit, { 'attr' : {'class' : 'btn bg-green' }} )}}
    {{ form_end(sellerForm) }}
{% endblock %}