{% extends 'admin/_dashboard.html.twig' %}
{% block context %}
    <div class="svg pulse">
        <a href="#modal">
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" id="categories">
                <path d="M19.38 0.1646C19.5688 0.0567349 19.7825 0 20 0C20.2175 0 20.4312 0.0567349 20.62 0.1646L29.995 5.52221C30.1863 5.63149 30.3454 5.78941 30.456 5.97995C30.5666 6.17049 30.6249 6.3869 30.625 6.60723V16.5949L39.37 21.595C39.5606 21.7039 39.7191 21.861 39.8297 22.0506C39.9403 22.2402 39.9991 22.4556 40 22.6751V33.3903C39.9999 33.6106 39.9416 33.827 39.831 34.0175C39.7203 34.2081 39.5613 34.366 39.37 34.4753L29.995 39.8329C29.8062 39.9408 29.5925 39.9975 29.375 39.9975C29.1575 39.9975 28.9438 39.9408 28.755 39.8329L20 34.8328L11.245 39.8354C11.0562 39.9433 10.8425 40 10.625 40C10.4075 40 10.1938 39.9433 10.005 39.8354L0.63 34.4778C0.438682 34.3685 0.279649 34.2106 0.169014 34.02C0.0583781 33.8295 7.10676e-05 33.6131 0 33.3928L0 22.6776C7.10676e-05 22.4572 0.0583781 22.2408 0.169014 22.0503C0.279649 21.8597 0.438682 21.7018 0.63 21.5925L9.375 16.5949V6.60723C9.37507 6.3869 9.43338 6.17049 9.54401 5.97995C9.65465 5.78941 9.81368 5.63149 10.005 5.52221L19.38 0.1646ZM10.625 18.76L3.77 22.6776L10.625 26.5951L17.48 22.6776L10.625 18.76ZM18.75 24.8326L11.875 28.7602V36.5953L18.75 32.6678V24.8326ZM21.25 32.6678L28.125 36.5953V28.7602L21.25 24.8326V32.6678ZM22.52 22.6776L29.375 26.5951L36.23 22.6776L29.375 18.76L22.52 22.6776ZM28.125 16.5949V8.75977L21.25 12.6899V20.525L28.125 16.5949ZM18.75 20.525V12.6899L11.875 8.75977V16.5949L18.75 20.525ZM13.145 6.60723L20 10.5248L26.855 6.60723L20 2.68965L13.145 6.60723ZM37.5 24.8326L30.625 28.7602V36.5953L37.5 32.6678V24.8326ZM9.375 36.5953V28.7602L2.5 24.8326V32.6678L9.375 36.5953Z"
            fill="#FFA100"/>
            </svg>
        </a>
    </div>
    <div id="modal" class="modal-window">
        <div>
            <div class="modal-close">
                <a href="#" title="Close" class="">
                    <img src="{{ asset('assets/icons/close.png') }}" alt="close">
                </a>
            </div>
            <span class="fw fs-1 f-green">Catégories existantes</span>
            <ul class="list">
                {% for category in categories %}
                    <li>{{ category.label | capitalize }}</li>
                {% endfor %}
            </ul>
            <br>
        </div>
    </div>
   <h1 class="f-upper fw fs-2">
   Ajouter une catégorie
   </h1>
    {{ form_start(categoryForm, { 'attr' : {'class' : 'form-admin' }}) }}
        {{ form_widget(categoryForm.label, { 'attr' : {'class' : 'input', 'placeholder' : 'Nom de Catégorie' }}) }}
        {{ form_widget(categoryForm.submit, { 'attr' : {'class' : 'btn bg-green' }} )}}
    {{ form_end(categoryForm) }}
{% endblock %}