{% extends 'admin/_dashboard.html.twig' %}
{% block context %}
   <h1 class="f-upper fw fs-2">Ajouter un Produit</h1>
    {{ form_start(productForm, { 'attr' : {'class' : 'form-admin' }}) }}
        {{ form_widget(productForm.label, { 'attr' : {'class' : 'input', 'placeholder' : 'Nom du Produit' }}) }}
        {{ form_widget(productForm.description, { 'attr' : {'class' : 'input', 'placeholder' : 'Description du Produit' }}) }}
        {{ form_widget(productForm.price, { 'attr' : {'class' : 'input', 'placeholder' : 'Prix', 'min': 0}, 'html5': true}) }}
        {{ form_widget(productForm.unit, { 'attr' : {'class' : 'input select', 'placeholder' : 'Unité du produit' }}) }}
        {{ form_widget(productForm.category, { 'attr' : {'class' : 'input select', 'placeholder' : 'Catégorie associée' }}) }}
        {{ form_widget(productForm.imageFile, { 'attr' : {'class' : 'input', 'placeholder' : 'Image Produit', 'accept' : 'image/jpeg, image/jpg', 'id' : '#fileReader'}}) }}
        {{ form_widget(productForm.submit, { 'attr' : {'class' : 'btn bg-green' }} )}}
    {{ form_end(productForm) }}
    <img id="output"/>
{% endblock %}


