<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ asset('style/style.css')}}" rel="stylesheet" />
    <link href="{{ asset('style/notifications.css')}}" rel="stylesheet" />
    <title>Mercadona - {{title }}</title>
    {% if (app.request.attributes.get('_route') == 'landingPage' or app.request.attributes.get('_route') == 'app_login')%}
    <style>
    body {
        overflow: hidden;
    }
    </style>
    {% endif %}
</head>
<body>
    
    {% if (app.request.attributes.get('_route') == 'landingPage' or app.request.attributes.get('_route') == 'app_login')%}
        <div class="background-landing"></div>
    <header class="header-logo no-visible-desktop"><a href="{{ path('landingPage' )}}"/><img src="{{ asset('assets/brand.png') }}" alt="logo" /></a></header>
    {% else %}
    <header class="header-logo"><a href={% if (app.request.attributes.get('_route') is same as('catalog') or app.request.attributes.get('_route') is same as('legalNotices') ) %}"{{ path('landingPage' )}}"{% else %} "{{ path('adminDashboard' )}}" {% endif %}/><img src="{{ asset('assets/brand.png') }}" alt="logo" /></a></header>
    {% endif %}