{% extends 'base.html.twig' %}
{% block content %}
<h1 class="center f-orange">Le goût des promos !</h1>
<select class="center" name="filter" id="filter">
<option disabled selected>Filtrer les produits</option>
 {% for category in categories %}
    <option value="{{ category.id }}">{{ category.label | capitalize }}</option>
 {% endfor %}
</select>
<div class="catalog">
    {% for product in products %}
    <div class="product">
        <img src="{{ asset(product.image) }}" />
        <span class="product-label">{{ product.label }}</span>
        <span class="product-description">{{ product.description }}</span>
        <div>
        {% if (product.discount is same as (null)) %}
        <span class="product-price f-green">{{ product.price }} € / {{ product.unit }} </span>
        {% else %}
            <span class="product-price f-green old-price">{{ product.price }} €</span>
            <span class="product-price f-red">{{ product.discount }} € / {{ product.unit }} </span>
        {% endif %}
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}