{% extends 'base.html.twig' %}
{% block content %}
<h1 class="center f-orange">Le goût des promos !</h1>
<div class="filter-group">
    <a class="btn bg-green" href="{{ path('catalog', {page: 1}) }}">Tous les produits</a>
</div>
<div class="catalog">
    {% for product in products %}
    <div class="product">
        <img src="{{ asset(product.image) }}" />
        <span class="product-label">{{ product.label }}</span>
        <span class="product-description">{{ product.description }}</span>
        <div>
        {% if (product.discount is same as (null)) %}
        <span class="product-price f-green">{{ product.price }} € / {{ product.unit }} </span>
        {% else %}
            <span class="product-price f-green old-price">{{ product.price }} €</span>
            <span class="product-price f-red">{{ product.discount }} € / {{ product.unit }} </span>
        {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
<div class="nav-page">
    {% if previous is not null %}
    <a id="previous" class="btn bg-orange" href="{{ path('getProductsByCategory', {id: category, page: previous}) }}">Précédent</a>
    {% endif %}
    {% if next is not null %}
    <a id="next" class="btn bg-orange" href="{{ path('getProductsByCategory', {id: category, page : next}) }}">Suivant</a>
    {% endif %}
</div>
<br />
{% endblock %}